.like_list .rating_item {
  margin-bottom: 10px;
}
.like_list .rating_item .no_padding {
  padding: 0;
}
.like_list .rating_item img {
  float: left;
  margin-right: 10px;
}
.like_list .rating_item .details {
  padding: 10px 0 10px 10px;
}
.like_list .rating_item .details a .titel {
  font-family: "Open Sans";
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #1f1f1f;
}
.like_list .rating_item .details a .titel span {
  font-size: 16px;
}
