.rating-input {
  text-align: center;
  margin-bottom: 10px;
}
.rating-input .glyphicon {
  font-size: 20px;
  color: #fd5c28;
}
.rating-input .glyphicon-star-empty {
  color: #fea98d;
}
.rating-input .thanks {
  font-size: 14px;
  display: none;
  color: #7c170a;
  margin-top: 0px;
  margin-left: 5px;
  position: absolute;
}
