{% load sekizai_tags thumbnail rating %}

{% for element in products %}
	{% for rating in user_ratings %}
		{% if rating.object_id == element.id %}
			<div class="row">
				<div class="col-md-12">
					<div class="rating_item bg-success">
{#						<div class="col-md-2 no_padding">#}
{#							<a href="{{ element.get_absolute_url }}">#}
{#							</a>#}
{#						</div>#}
						<div class="col-md-12 no_padding">
							<div class="actions btn-group-vertical pull-right">
								<button type="button" class="remove_rating btn btn-danger" data-rating-id="{{ rating.id }}"><i class="fa fa-trash-o"></i></button>
                                {% if rating.user %}
								<button type="button" class="edit_rating btn btn-primary" data-rating-id="{{ rating.id }}" data-rating-text="{{ rating.kommentar }}"><i class="fa fa-pencil"></i></button>
                                {% endif %}
							</div>
							<div class="details">
								<a href="{{ element.get_absolute_url }}">
									<h3 class="titel">{{ element.name }} | <span class="price">{{ element.price }} CHF</span></h3>
                                    <h3 class="titel">
                                        {% if user.is_superuser %}
                                            {% if rating.user.username %}
                                            <span> Benutzer: {{ rating.user.username }}</span>
                                            {% else %}
                                            <span> Anonym</span>
                                            {% endif %}
                                        {% endif %}
                                    </h3>
								</a>
								{% if rating.sterne >= 0 %}
									<div class="stars">{% get_stars stars=rating.sterne %}</div>
								{% endif %}
								{% if rating.kommentar %}
									<div class="comment">
										<p><span>Kommentar:</span>{{ rating.kommentar }}</p>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		{% endif %}
	{% empty %}
		{% if forloop.counter0 == 0 %}

			<div class="row">
				<div class="rating_item bg-error">
					<div class="col-md-12">
						<p>Keine Einträge vorhanden!</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		{% endif %}
	{% endfor %}
{% endfor %}